[submodule "local"]
	path = local
	url = https://github.com/rendizi/SH-2024-LOCAL
[submodule "orchestrator"]
	path = orchestrator
	url = https://github.com/rendizi/SH-2024-ORCH
[submodule "agent"]
	path = agent
	url = https://github.com/rendizi/SH-2024-bot
[submodule "front"]
	path = front
	url = https://github.com/Bebdyshev/SH-2024-FR
[submodule "botscannertg"]
	path = botscannertg
	url = https://github.com/Kirirto-kun/sh_tg_jafar
